* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #2b2d42;
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    background-color: #edf2f4;
    font-family: 'Rubik', 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}


/* MAIN CONTAINER */
.container {
    display: grid;
    padding: 1.5rem;
    grid-template-columns: 25% 75%;
    position: relative;
    z-index: 1;
}


.image-container {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.section-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 2rem;
}

.skills {
    grid-column: 1/2;
    align-self: start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: -4rem;
}


/* RESUME DOWNLOAD */
.resume_download {
    /* display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap; */
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fefefe;
    position: fixed;
    top: 2rem;
    right: 5rem;
    transition: all 0.3s ease;
    z-index: 9999;
    pointer-events: auto;
    text-decoration: none;
}

.resume_download span {
    margin-left: 0.4rem;
}

.resume_download:hover {
    background-color: hsl(197, 24%, 84%);
    cursor: pointer;
}

.resume_download img {
    width: 1.5rem;
    height: auto;
    aspect-ratio: 1;
}

/* HEADING-SUMMARY SECTION */

.header {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-column: 1/-1;
    padding: 2rem;
}

.header img {
    height: 16rem;
    width: auto;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.summary {
    font-size: 1.6rem;
    color: #2b2d42;
    grid-column: 2/-1;
    align-self: center;
    justify-self: start;
    width: 80%;
}

.summary h1 {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 2.8rem;
}

.summary h2 {
    margin-bottom: 1.5rem;
}

.summary_desc {
    font-size: 1.6rem;
    color: #2b2d42;
    line-height: 1.5;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.education .college {
    color: #2b2d42;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.education p:first-child {
    font-weight: 600;
}

/* SKILLS */

.skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.skills h4 {
    text-decoration: underline;
}

.skills ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.skills li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    color: #2b2d42;
    align-self: center;
}

.details {
    width: 100%;
    align-self: center;
    justify-self: start;
    grid-column: 2/span 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/* Work Experience */

.work-experience ul {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.work-experience h2 {
    color: #2b2d42
}

.work-experience li {
    list-style: none;
    font-size: 1.4rem;
    color: #2b2d42;
    transition: all 0.3s ease;
}

.social {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    align-items: baseline;
}

.social img {
    height: 2rem;
    width: 2rem;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1.8rem;
    margin-top: 2rem;
    color: #2b2d42;
    padding: 1.8rem;
    text-align: center;
    grid-column: 1/-1;
    justify-self: center;

}

.footer a {
    position: relative;
}

.footer p {
    color: hsl(235, 21%, 31%);
}

.tooltip {
    font-size: 1.2rem;
    display: none;
    position: absolute;
    padding: 0.8rem;
    border-radius: 5px;
    background-color: #fefefe;
    top: -4rem;
    left: -4rem;
}

@media screen and (max-width:975px) {

    html {
        font-size: 58%;
    }

    .header img {
        height: 12rem;
    }

    .skills {
        margin-top: -8rem;
    }

}


@media screen and (max-width:676px) {

    body {
        display: flex;
        flex-direction: column;
        gap: 35rem
    }

    .container {
        display: flex;
        flex-direction: column;
    }


    .header {
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .resume_download span {
        display: none;
    }

    .resume_download {
        z-index: 9999;
        pointer-events: auto;
    }

    .resume_download span {
        margin-left: 1rem;
        color: red;
    }

    .image-container {
        margin-bottom: 2rem;
    }

    .summary_desc {
        text-align: left;
    }

    .skills {
        margin: 0;
        align-self: center;
    }

    .section-container {
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }
}